.carousel-1
    div
        .slider
            background-size: cover
            background-position: center
            height: 620px
        .img-1
            background-image: url(../img/slider.jpg)
            div
                padding: 200px
                width: 65vw
        .img-2
            background-image: url(../img/slider2.jpg)
        .img-3
            background-image: url(../img/slider3.jpg)
.crsl-btn-1
        border-radius: 50%
        height: 50px
        width: 50px
        position: absolute
        top: 50%
        left: 2%
.crsl-btn-2
        border-radius: 50%
        height: 50px
        width: 50px
        position: absolute
        top: 50%
        right: 2%
.crsl-btns-btm
    position: absolute
    bottom: 10px
    left: 0
.sec-1
    .top
        display: flex
        flex-direction: column
        justify-content: center
        gap: 10px
        align-items: center
        padding: 0 28vw
        text-align: center
        
        h1
            font-weight: bold
    .center
        padding-top: 10vh
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 20px
        div
            color: #1a76d1
            img
                filter: brightness(0) saturate(100%) invert(40%) sepia(82%) saturate(959%) hue-rotate(177deg) brightness(88%) contrast(92%)
            .borderr
                display: flex
                align-items: center
                justify-content: center
                height: 40px
                width: 40px
                padding: 50px
                border: 1px solid #a1a1a1
                border-radius: 50%
                i
                    font-size: 40px
    .bottom
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 0 17vw
        gap: 60px
        text-align: center
.sec-2
    .bg-img
        background-image: linear-gradient(to bottom, rgba(58, 146, 234, 0.52), rgba(19, 58, 117, 0.73)),url(../img/bread-bg.jpg) 
        height: 320px
    div
        color: white
        .borderr
            display: flex
            align-items: center
            justify-content: center
            height: 20px
            width: 20px
            padding: 25px
            border: 1px solid #ffffff
            border-radius: 50%
            i
                font-size: 20px
                color: white
                    
@media ( max-width: 426px )
    .carousel-1
        div
            .slider
                background-size: cover
                background-position: center
                height: 300px
            .img-1
                background-image: url(../img/slider.jpg)
                background-position: left
                div
                    padding: 20px
                    width: 100vw
                    h1
                        font-size: 20px
.crsl-btn-1 , .crsl-btn-2
    
