.carousel-1
    div
        .slider
            background-size: cover
            background-position: center
            height: 620px
        .img-1
            background-image: url(../img/slider.jpg)
            div
                padding: 200px
                width: 65vw
        .img-2
            background-image: url(../img/slider2.jpg)
        .img-3
            background-image: url(../img/slider3.jpg)
.crsl-btn-1
        border-radius: 50%
        height: 50px
        width: 50px
        position: absolute
        top: 50%
        left: 2%
.crsl-btn-2
        border-radius: 50%
        height: 50px
        width: 50px
        position: absolute
        top: 50%
        right: 2%
.crsl-btns-btm
    position: absolute
    bottom: 10px
    left: 0
@media ( max-width: 426px )
    .carousel-1
        div
            .slider
                background-size: cover
                background-position: center
                height: 300px
            .img-1
                background-image: url(../img/slider.jpg)
                background-position: left
                div
                    padding: 20px
                    width: 100vw
                    h1
                        font-size: 20px
.crsl-btn-1 , .crsl-btn-2
    
